<html>
  <head>
    <title>Hope Server v<%= Hope::VERSION %></title>
    
    <link rel='stylesheet' href='css/hope.css' type='text/css' media="screen">
    <link rel='stylesheet' href='css/Aristo/jquery-ui-1.8.7.custom.css' type='text/css' media="screen">
    <script type="text/javascript" src="js/jquery-1.6.1.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.8.14.custom.min.js"></script>
    <script type="text/javascript" src="js/underscore-1.1.6.js"></script>
    <script type="text/javascript" src="js/backbone-0.5.1.js"></script>
    <script type="text/javascript" src="js/inflection.js"></script>
    <script type="text/javascript" src="js/hope.js"></script>
    <script type="text/javascript">
      $(function() {
        window.hope = Hope.init("hope");
      })
    </script>
  </head>
  
  <body>
    <div id="hope" style="display:none"></div>
    <div id="loading">loading...</div>
  </body>
</html>