<html>
  <head>
    <title>Hope Server v<%= Hope::VERSION %></title>
    
    <link rel='stylesheet' href='/hope.css' type='text/css' media="screen">
    <link rel='stylesheet' href='/Aristo/jquery-ui-1.8.7.custom.css' type='text/css' media="screen">
    <script type="text/javascript" src="jquery-1.6.1.js"></script>
    <script type="text/javascript" src="jquery-ui-1.8.14.custom.min.js"></script>
    <script type="text/javascript" src="underscore-1.1.6.js"></script>
    <script type="text/javascript" src="backbone-0.3.3.js"></script>
    <script type="text/javascript" src="inflection.js"></script>
    <script type="text/javascript" src="hope.js"></script>
    <script type="text/javascript">
      $(function() {
        window.hope = Hope.init("hope");
      })
    </script>
  </head>
  
  <body>
    <div id="hope" style="display:none"></div>
    <div id="loading">loading...</div>
  </body>
</html>